.heroOne {
  margin-left: 3.375rem;
  max-width: 593px;
  flex: 1;
  &__headline {
    margin-top: 92px;
    font-size: 36px;
    font-weight: 700;
    line-height: 128%;
    color: #1f2431;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 165%;
    color: #82899b;
    margin-top: 5%;
  }
}

.heroOne__button {
  background-color: #315efb;
  width: 215px;
  height: 40px;
  color: white;
  display: flex;
  margin-top: 5%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-radius: 51px;
  cursor: pointer;
  
  a:link{
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
}