.tiles__left {
  color: #82899b;
  font-size: 16px;
  font-weight: 300;
  line-height: 183%;
  margin-left: 2%;
}

.tiles__one {
  width: 565px;
  height: 220px;
  background-color: #fafcff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}